@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 64.5%;
}

section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(-45deg, #005EAA, #A0D870);
}

div.main {
  width: 36rem;
  min-height: 52.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF80), to(#FFFFFF30));
  background-image: linear-gradient(to bottom, #FFFFFF80, #FFFFFF30);
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 8px #00000020, 0 1.5rem 10px #00000020;
          box-shadow: 0 0 8px #00000020, 0 1.5rem 10px #00000020;
  border-radius: 5px;
}

div.main h1 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 2rem;
}

div.main div.calculator {
  padding: 2rem 0;
}

div.main div.calculator form p.question {
  width: 100%;
  font-size: 1.6rem;
}

div.main div.calculator form div.CurrencySelectAmount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

div.main div.calculator form div.CurrencySelectAmount .currencyselect {
  padding: 0.5rem;
  outline: 0;
  color: black;
  cursor: pointer;
  width: 20%;
  display: inline;
  border-radius: 0.5rem;
}

div.main div.calculator form div.CurrencySelectAmount input.billInput {
  width: 79%;
  border: none;
  outline: none;
  display: inline;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

div.main div.calculator form div.service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

div.main div.calculator form div.service .serviceQuality {
  padding: 0.5rem;
  outline: 0;
  color: black;
  cursor: pointer;
  width: 100%;
  display: inline;
  border-radius: 0.5rem;
}

div.main div.calculator form div.peopleNumber {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.main div.calculator form div.peopleNumber .peopleNumberInput {
  width: 100%;
  border: none;
  outline: none;
  display: inline;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

div.main div.calculator form div.peopleNumber #calculate {
  margin-top: 2rem;
  padding: 0.8rem;
  border: none;
  color: #000;
  background-color: #FFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

div.main div.calculator form div.peopleNumber #calculate:hover {
  background-image: linear-gradient(45deg, #005EAA, #A0D870);
  -webkit-box-shadow: 0 0 8px #00000020, 0 1rem 10px #00000020;
          box-shadow: 0 0 8px #00000020, 0 1rem 10px #00000020;
  color: #FFFFFF;
}

div.main div.tipValue {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.main div.tipValue sup {
  font-size: 1.8rem;
  color: #FFF;
}

div.main div.tipValue span.Value {
  width: 100%;
  font-size: 2.8rem;
  color: #FFFFFF;
}

div.main div.tipValue small.each {
  color: #FFFFFF;
  font-size: 1.4rem;
}

@media (max-width: 353px) {
  div.main {
    width: 100%;
  }
  div.main h1 {
    text-align: center;
  }
}
